---
import Layout from "../layouts/Layout.astro";

const ogImage = new URL("/api/og/home", Astro.url.origin);
---

<Layout ogImage={ogImage}>
  <h1 class="text-red-500">Ma page</h1>

  <img src="/api/og/home" alt="OG Image" width="600" />
</Layout>

